:root {
    --ff-base: 16px;
    --fw-bold: 700;
    --fw-light: 300;
    --fw-base:400;
    --clr-black: #202020;
    --ff-size: 14px;
    --clr-accent: #C5ADED;
    --ff: 'Nunito', sans-serif;
    --clr-sec: rgb(255, 190, 210);
    --clr-grey: #313131;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* general styles */
body {
    background-color: var(--clr-black);
    color: #FFFFFF;
    font-size: var(--ff-base);
    font-family: var(--ff);
/*    height: 100%;*/
    overflow: hidden;
}

header p {
    display: inline-block;
}

.icons {
    display: inline-block;
    position: absolute;
    right: 3em;
}
.fa-gear {
    padding-right: 1em;
}

/* Layout */
.container {
    /* max-width: 1000px; */
    width: 95%;
    margin: 2em auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.accent {
    /* color: var(--clr-accent); */
    font-weight: var(--fw-bold);
}

header {
    background-color: #C5ADED;
    text-align: center;
    padding: 0.5em;
}

.bold {
    font-weight: 700;
}

/* Widget section */
.widget h3{
    border: 3px solid white;
    padding: 0.5em 0;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 40px;
    letter-spacing: 0.2em;
}

.widgets{
    font-size: var(--ff-size);
    /* max-width: 400px; */
    text-align: center;
    width: 20rem;
}

.widget {
    margin-bottom: 2em;
}

/* Calendar */
.calendar {
    width: 18rem;
    margin: auto;
}

.cal-head {
    font-weight: var(--fw-bold);
}

.weekdays {
    font-weight: var(--fw-light);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.active {
    background-color: var(--clr-sec);
    border-radius: 10px;
}

.days div {
    margin-bottom: 0.6em;
}

.prev-date, .next-date {
    opacity: 0.6;
}

/* Time */

.time {
    padding: 0 3em;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.vl {
    border-left: 2px solid white;
    height: inherit;
}


/* Weather */
.weather-sum {
    text-align: center;
}

.weather {
    padding: 0 2em;
    font-size: 0.9em
}

.stat {
    padding: 0.8em 1em;
    border-bottom: 2px solid white;
}

.stat p:first-child:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f219";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 1em;
    font-size: 0.5em;
}

/* info section */
.summary {
    background-color: var(--clr-grey);
    border-radius: 30px;
    padding: 1.5em;
    margin: 2em 0 2em 0;
}

.summary:first {
    font-weight: var(--fw-bold);
}

.info {
    max-width: 400px;
    width: 25%;
}

.info h2 {
    font-weight: normal;
    margin-bottom: 3em;
    font-size: 2em;
}

.tasks {
    background-color: #C5ADED;
    padding: 1em;
    border-radius: 30px;
    /* height: 350px; */
    overflow-y: auto;
    color: #202020;
    max-height: 350px;
}

/* Tp do section */
.tasks h3 {
    font-weight: 700;
    margin: 0.5em;
    margin-bottom: 1em;
}

.tasks ul {
    margin-left: 1em;
}

li {
    list-style: none;
    margin-bottom: 1em;
}

h4 {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

li label {
    display: flex;
    align-items: center;
}

.custom-check {
    width: var(--ff-size);
    height: var(--ff-size);
    font-size: 10px;
    margin-right: var(--ff-size);
    border: 2px solid #554160;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    cursor: pointer;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    color: transparent;
}

li:hover .custom-check,
[type="checkbox"]:focus + label .custom-check {
    transform: scale(1.2);
}

[type="checkbox"]:checked + label .custom-check {
    color: var(--clr-sec);
    background: #554160;
}

[type="checkbox"]:checked + label{
    opacity: 0.5;
}

form {
    display: flex;
}

.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid var(--clr-grey);
    font-size: inherit;
    outline: none !important;
    transition: border-bottom 150ms ease-in;
    order: 2;
    font-size: var(--ff-size);
}
.new:focus {
    border-bottom-width: 2px;
}
.new:focus::placeholder {
    opacity: 0.3;
}

button {
    cursor: pointer;
    background: 0;
    border: 0;
    color: var(--clr-sec);
    font-weight: var(--fw-bold);
    font-size: var(--ff-base);
    margin-right: var(--ff-size);
    width: var(--ff-base);
    height: var(--ff-base);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 150ms ease;
    border-radius: 50%;
}
.new:hover + button, button:hover{
    background-color: var(--clr-sec);
    /* border-radius: 50%; */
    color: var(--clr-grey);    
}

.music div{
    border-radius: 20px;
    padding: 1em;
    margin: 2em 0;
    width: 10em;
    text-align: center;
}
.flow {
    background-color: rgb(225, 236, 236);
    color: var(--clr-black);
}

.deadline {
    background-color: rgb(255, 190, 255);
    color: var(--clr-black);
}