<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/94fe2c2c98.js" crossorigin="anonymous"></script>
    <title>My Space</title>
</head>
<body>
    <header>
        <p>My Space</p>
        <div class="icons">
            <i class="fa-solid fa-gear" style="color: #fff;"></i>
            <i class="fa-regular fa-user"></i>
        </div>
    </header>

    <div class="container flex">
        <div class="info">
            <h2>Good morning, <br> <span class="accent">Jane</span></h2>
            <!-- <h1>Yay! Almost Done</h1> -->
            <div class="summary">
                <p>Daily Tasks</p>
                <p>8 out of 10 done</p>
            </div>
            <div class="tasks">
                <h3>My Tasks</h3>
                <ul>
                    <li><input type="checkbox" id="task-1">
                        <label for="task-1">
                            <span class="custom-checkbox"></span>
                            Practice Meditation
                        </label>
                    </li>
                    <li><input type="checkbox" id="task-2">
                        <label for="task-2">
                            <span class="custom-checkbox"></span>
                            Take dog on a walk
                        </label>
                    </li>
                    <li><input type="checkbox" id="task-3">
                        <label for="task-3">
                            <span class="custom-checkbox"></span>
                            Practice for upcoming test
                        </label>
                    </li>
                    <li><input type="checkbox" id="task-4">
                        <label for="task-4">
                            <span class="custom-checkbox"></span>
                            Go grocery shopping
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div></div>
        <div class="widgets">
            <div class="calendar widget">CALENDAR</div>
            <div class="time widget">TIME</div>
            <div class="weather widget">WEATHER</div>
        </div>
    </div>

    <footer></footer>
</body>
</html>