<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/progress.css">
    <script src="https://kit.fontawesome.com/94fe2c2c98.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="../static/calendar.js" defer></script>    
    <title>My Space</title>
</head>
<body>
    <header>
        <p>My Space</p>
        <div class="icons">
            <a href="../templates/setting.html"><i class="fa-solid fa-gear" style="color: #fff;"></i></a>
            <a href="../templates/setting.html"><i class="fa-regular fa-user" style="color: #fff;"></i></a>
        </div>
    </header>

    <div class="container flex">
        <div class="info">
            <h2>Good morning, <br> <span class="accent bold">{{ name }}</span></h2>
            <!-- <h1>Yay! Almost Done</h1> -->
            <div class="summary">
                <p class="bold">Daily Tasks</p>
                <p>{{ done }} out of {{ total }} done</p>
            </div>
            <div class="progress-bar"></div>
            <div class="tasks">
                <h3>My Tasks</h3>
                <ul>
                    {% for task, i in t_list %}
                    <li>
                        <input type="checkbox" id="check{{ i }}">
                        <label for="check{{ i }}">
                            <span class="custom-check"><i class="fa-solid fa-check"></i>
                            </span>
                            {{ task.description }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="music flex">
                <div class="flow"> <a href="#">Get flow</a></div>
                <div class="deadline"> <a href="#">Get deadline</a></div>
            </div>
        </div>
        <div></div>
        <div class="widgets">
            <div class="widget">
                <h3>CALENDAR</h3>
                <div class="calendar">
                    <p class="cal-head"> <span class="month">JUNE</span>  <span class="year">2023</span></p>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days"></div>
                </div>
                <!-- Populating the calendar using js -->
            </div>

            <div class="widget">
                <h3>TIME</h3>
                <div class="time flex">
                    <div class="home">
                        <p class="bold">HOME</p>
                        {{ home }}
                    </div>
                    <!-- Use ptz library -->
                    <div class="vl"></div>
                    <div class="away">
                        <p class="bold">MANILA</p>
                        {{ away }}
                    </div>
                </div>
            </div>
            <div class="widget">
                <h3>WEATHER</h3>
                <div class="weather-sum">
                    <p class="bold">{{ city }}</p>
                    <p>{{ summ }}</p>
                </div>
                <div class="weather">
                    <div class="stat flex">
                        <p>Current Temperature</p>
                        <p>{{ t }} &deg;C</p>
                    </div>
                    <div class="stat flex">
                        <p>Wind Speed</p>
                        <p>{{ speed }} km/h</p>
                    </div>
                    <div class="stat flex">
                        <p>Humidity</p>
                        <p>{{ humid }} %</p>
                    </div>
                    <div class="stat flex">
                        <p>Pressure</p>
                        <p>{{ press }} hPa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>
