{% extends "layout.html" %}

{% block body %}
    <main id="setting">
        <h1>Edit User Settings</h1>
        <form action="" method="POST">
            <fieldset class="genre">
                <legend>Choose Your Fav Genres</legend>
                <div class="set-flow">
                    <label for="flow">Flow</label>
                    <input type="text" name="flow" id="flow" value="{{ user.genres[0].flow }}"></input>
                </div>
                <div class="set-dead">
                    <label for="deadline">Deadline</label>
                    <input name="deadline" id="deadline" value="{{ user.genres[0].deadline }}"></input>
                </div>
            </fieldset>
            <fieldset>
                <legend>Choose Your Timezones</legend>
                <div class="tz1">
                    <label for="tz1">Home</label>
                    <select name="tz1" id="tz1">
                        <!-- gotten from backend -->
                        {% for tz in all %}
                        {% if tz == user.tz1 %}
                            <option value="{{ tz }}" selected>{{ tz }} </option>
                        {% else %}
                            <option value="{{ tz }}">{{ tz }} </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="tz2">
                    <label for="tz2">Away</label>
                    <select name="tz2" id="tz2">
                        <!-- gotten from backend -->
                        {% for tz in all %}
                        {% if tz == user.tz2 %}
                            <option value="{{ tz }}" selected>{{ tz }} </option>
                        {% else %}
                            <option value="{{ tz }}">{{ tz }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </fieldset>

            <fieldset class="user">
                <legend>User Info</legend>
                <div class="name">
                    <label for="name">Name</label>
                    <div><input id="name" name="name" type="text" value="{{ user.first_name }}"></div>
                </div>
                <div class="country">
                    <label for="country">Country</label>
                    <div><input id="country" name="country" type="text" value="Nigeria"></div>
                </div>
                <div class="city">
                    <label for="city">City</label>
                    <div><input type="text" name="city" id="city" value="{{ user.city }}"></div>
                </div>
                <div class="artist">
                    <label for="artist">Artist</label>
                    <div><input id="artist" name="artist" type="text" value="Beyonce"></div>
                </div>
            </fieldset>

            <input type="submit" value="Update">
        </form>  
    </main>

{% endblock %}
